.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* padding: 20px;
    margin: 10px 0; */
 
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    color: white;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .vertical-scroll {
    height: 570px;
    padding: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0 auto;
    scroll-snap-type: y mandatory;
    position: relative;
    scroll-behavior: smooth;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .card-wrapper {
    scroll-snap-align: start;
    height: 480px;
    margin-bottom: 10px;
  }