@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  scroll-behavior: smooth !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-custom-gradient {
    box-shadow: 0 -10px 15px -3px rgba(0, 0, 0, 0.1),
      0 -4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .bg-gradient-lines {
    background-image: url("../../public/assets/images/Circles.png");
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center;
  }

  .bg-lines {
    background-image: url("../../public/assets/images/Lines.png");
  }
  .bg-union {
    background-image: url("../../public/assets/images/Union.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
  }

  .fade-in-element {
    animation: fadeIn 0.5s ease-in-out;
  }

  .fade-out-element {
    animation: fadeOut 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0.5;
      transform: translateY(20px);
    }
  }

  .highlighted {
    opacity: 1;
    font-weight: bold;
  }

  .faded-out {
    opacity: 0.5;
    font-weight: normal;
  }
  .title_text {
    @apply text-[32px] text-center font-unbound font-bold leading-[40px] text-neutral;
  }

  .description_text {
    @apply text-[16px] lg:text-[18px] font-inter leading-[26px] font-normal text-primary-light;
  }
}
