@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scrollbar-width: thin !important;
  scrollbar-color: #ee6e24 transparent !important;
  scroll-snap-type: mandatory !important;
}

body {
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-gradient-lines {
    background-image: url("../../public/assets/images/Circles.png");
    background-size: 100% 550px;
    background-attachment: fixed;
    background-position: center;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 1280px) {
    .bg-gradient-lines {
      background-image: url("../../public/assets/images/Circles.png");
      background-size: 100% 320px;
      background-attachment: fixed;
      background-position: center;
    }
  }

  .bg-lines {
    background-image: url("../../public/assets/images/Lines.png");
  }

  .bg-union {
    background-image: url("../../public/assets/images/Union.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
  }

  .fade-in-element {
    animation: fadeIn 0.5s ease-in-out;
  }

  .fade-out-element {
    animation: fadeOut 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    100% {
      opacity: 0.5;
      transform: translateY(20px);
    }
  }

  .no-scroll {
    overflow-y: hidden !important;
  }

  .highlighted {
    opacity: 1;
    font-weight: bold;
  }

  .faded-out {
    opacity: 0.5;
    font-weight: normal;
  }

  .title_text {
    @apply text-[22px] md:text-[32px] text-center font-unbound font-bold leading-[40px] text-neutral;
  }

  .description_text {
    @apply text-[16px] lg:text-[18px] font-inter leading-[26px] font-normal text-primary-light;
  }

  .scroll_hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scroll_hidden::-webkit-scrollbar {
    display: none;
  }

  .my-masonry-grid_column>div {
    margin-bottom: 32px;
  }

  .my-masonry-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    padding: 0 20px;
  }

  .my-masonry-grid_column {
    padding-left: 16px;
    background-clip: padding-box;
  }



  .project_wrapper {
    position: relative;
    overflow: hidden;
  }

  .project_scroll_container {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
  }

  .project_scroll_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project_cards {
    margin-bottom: 50px;
  }
}


.gridBoxGradient::before {
  left: 0;
  width: 550px;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.gridBoxGradient::after {
  right: 0;
  width: 550px;
  background: linear-gradient(to left, rgba(0, 0, 0), rgba(0, 0, 0, 0));
}

.gridBoxGradien::before,
.gridBoxGradien::after {
  content: "";
  position: absolute;
  top: 0;
  width: 320px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}