@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-column {
    @apply flex flex-col justify-center
  }


  .flex-center-column {
    @apply flex justify-center flex-col items-center;
  }

  .flex-item-center-column {
    @apply flex flex-col items-center justify-center;
  }


  .text-level {
    @apply font-inter;
  }

  .level-1 {
    @apply text-[32px] leading-[40px] font-bold;
  }

  .level-2 {
    @apply text-[28px] leading-[36px] font-semibold;
  }

  .level-3 {
    @apply text-[24px] leading-[32px] font-medium;
  }

  .level-4 {
    @apply text-[20px] leading-[28px] font-normal;
  }

  .level-5 {
    @apply text-[18px] leading-[26px] font-normal;
  }

  .level-6 {
    @apply text-[16px] leading-[20px] font-normal;
  }

  .level-7 {
    @apply text-[16px] leading-[20px] font-normal;
  }

  .level-8 {
    @apply text-[12px] leading-[12px] font-normal;
  }
}

body {
  background-color: #050505;
  color: white;
  font-family: 'Inter', sans-serif;
}