@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-gradient-lines {
    background-image: url("../../public/assets/images/Circles.png");
    background-size: cover;
    background-attachment: fixed;
  }

  .title_text {
    @apply text-[32px] font-unbound font-bold leading-[40px] text-neutral;
  }
  .description_text {
    @apply text-[18px] font-inter leading-[26px] font-normal text-primary-light;
  }
}
