@keyframes border-animation {
    0% {
        border-image: linear-gradient(90deg, #EE6E24, #ffffff, #EE6E24, #ffffff) 1;
    }

    50% {

        border-image: linear-gradient(90deg, #ffffff, #EE6E24, #ffffff, #EE6E24) 1;
    }

    100% {
        border-image: linear-gradient(90deg, #EE6E24, #ffffff, #EE6E24, #ffffff) 1;
    }
}

.animated-border {
    animation: border-animation 5s infinite linear;
}

.animated-border-item {
    animation: border-animation 5s infinite linear;
}