@property --border-angle-1 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
:root {
  --orange: #ee6e24;
  --background: #000000;
  --border-size: 1px;
  --border-radius: 40px;
}

@keyframes rotateBackground {
  to {
    --border-angle-1: 360deg;
  }
}

.main {
  --border-angle-1: 0deg;
  border: 0;
  padding: var(--border-size);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    from var(--border-angle-1) at 50% 50%,
    transparent,
    var(--orange) 5%,
    transparent 25%,
    transparent 50%,
    var(--orange) 60%,
    transparent 75%,
    transparent
  );
  animation: rotateBackground 8s linear infinite;
}
.main .inner-div {
  background: var(--background);
  background-color: #0a0a0a;
  padding: 1em;
  border-radius: calc(var(--border-radius) - var(--border-size));
}
