@property --border-angle-1 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
:root {
  --orange: #ee6e24;
  --background: #000000;
  --border-size: 1px;
  --border-radius: 40px;
}

@keyframes rotateBackground {
  to {
    --border-angle-1: 360deg;
  }
}

.main {
  --border-angle-1: 0deg;
  border: 0;
  padding: var(--border-size);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
    from var(--border-angle-1) at 50% 50%,
    transparent,
    var(--orange) 5%,
    transparent 25%,
    transparent 50%,
    var(--orange) 60%,
    transparent 75%,
    transparent
  );
  animation: rotateBackground 12s linear infinite;
}
.main .inner-div {
  background: var(--background);
  background-color: #0a0a0a;
  border: 1px solid #000000;
  border-radius: calc(var(--border-radius) - var(--border-size));
}

.inner-div {
  position: relative;
  overflow: hidden;
}

.inner-div::before,
.inner-div::after {
  content: "";
  position: absolute;
  top: 0;
  width: 320px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .inner-div::before,
  .inner-div::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 10;
    pointer-events: none;
  }
}

.inner-div::before {
  left: 0;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

.inner-div::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0), rgba(0, 0, 0, 0));
}
