.left-logo {
  animation: firstLogoJump 3s infinite;
}

.right-logo {
  animation: secondLogoJump 3s infinite;
}

@keyframes firstLogoJump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

@keyframes secondLogoJump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}